{% extends 'base.html' %}

{% block title %}
Meine Homepage Startseite
{% endblock %}

{% block content %}
<h1>Meine Homepage Startseitencontent</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/static/76377-43.jpg" class="d-block w-100" alt="..." height="100" width="100">
    </div>
    <div class="carousel-item">
      <img src="/static/76377-07.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/76377-15.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
{% endblock %}